{% load static %}
<!-- Phần liên hệ sẽ được đưa xuống cuối trang -->
<div class="contact-info">
    <ul class="list-inline mb-0">
        <li class="list-inline-item me-4">
            <img style="margin-right: 10px;" src="{% static 'source/images/phone_icon.png' %}" alt="Phone Icon" />
            <a href="#">0987-654-3210</a>
        </li>
        <li class="list-inline-item me-4">
            <img style="margin-right: 10px;" src="{% static 'source/images/mail_icon.png' %}" alt="Mail Icon" />
            <a href="#">demo@gmail.com</a>
        </li>
    </ul>
</div>
